<a href="https://colab.research.google.com/github/Fathimafdz/Internship/blob/main/Day1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#calculator
a=int(input("Enter the  number 1:-"))
b=int(input("Enter the  number 2:-"))
print('select operation')
print('1.Addition')
print('2.Subtraction')
print('3.Multiplication')
print('4.Division')
n=int(input("Enter the choice: "))
if(n==1):
  r=a+b
  print(r)
elif(n==2):
    r=a-b
    print(r)
elif(n==3):
   r=a*b
   print(r)
elif(n==4):
     r=a/b
     print(r)
else:
       print('wrong input')

Enter the  number 1:-2
Enter the  number 2:-4
select operation
1.Addition
2.Subtraction
3.Multiplication
4.Division
Enter the choice: 2
-2

In [ ]:
num=int(input("Enter the number:"))
c=0
i=1
while(i<=num):
 if num%i==0:
    c=c+1
 i=i+1
if c==2:
   print ("number is prime")
else: 
   print("number is not prime")

Enter the number:3
number is prime

In [ ]:
year=int(input("enter the number:"))
if year%4==0:
  print("leap year")
elif year%400==0:
  print("leap year")
else:
 print("not leap year")

enter the number:2024
leap year

In [ ]:
a = int(input("enter the number : "))
s=0
for i in range(0,a+1):
  s=s+i
print("the sum is: ",s)

enter the number : 20
the sum is:  210

In [ ]:
def greet():
  print('HELLO')
   
greet()

HELLO

In [ ]:
def addnumber(num1,num2):
  sum=num1+num2
  print(sum)

In [ ]:
addnumber(4,5)

9

In [ ]:
def squarenumber(num1):
  square =num1*num1
  print(square)
squarenumber(10)

100

In [ ]:
def sqr(a):
  print("Square of the number is :",a*a)
n=int(input("enter the number: "))
sqr(n)

enter the number: 4
Square of the number is : 16

DAY 1 ASSIGNMENT

In [ ]:
#string length and half of the string
string = input("Enter the string : ")
N=0
print("length of The String: ",len(string))
print("First half of the string: ",string[:len(string)//2])

Enter the string : fathima
length of The String:  7
First half of the string:  fat

In [ ]:
#resultant and length of string
str1 = input("Enter first string: ")
str2 = input("Enter second string: ")
Add = str1 + str2
print("Resultant string is:", Add)
print("Length of the resultant string is:", len(Add))

Enter first string: fathima
Enter second string: salim
Resultant string is: fathimasalim
Length of the resultant string is: 12

In [ ]:
#tuple of integer
tup = (78,45,32,19,82,77,40,39)
lst = list(tup)
lst[2] = 100
tup = tuple(lst)
print(tup)

(78, 45, 100, 19, 82, 77, 40, 39)

In [ ]:
#list a number
lst = [19,32,10,55,31,32,94,29,10,65,77,40,40]
lst[9] = 300
lst.remove(32)
while 40 in lst:
    lst.remove(40)
del lst[5]
print(len(lst))
lst[2]+=200
s=0
for i in lst:
  s=s+i
print(lst)
print("Length of list:", len(lst))
print("Maximum value in list:", max(lst))
print("Sum of all elements in list:", s)

9
[19, 10, 255, 31, 32, 29, 10, 300, 77]
Length of list: 9
Maximum value in list: 300
Sum of all elements in list: 763

In [ ]:
#sum of all elements
lst = []
n = int (input("Enter number of elements : "))
for i in range(0,n):
 print("Enter elements: ")
 ele =int(input())
 lst.append(ele)
 print(lst)
sum = 0 
for i in lst:
  sum += i
print("Sum of all elements in the given list: ",sum)

Enter number of elements : 7
Enter elements:
1
[1]
Enter elements:
4
[1, 4]
Enter elements:
3
[1, 4, 3]
Enter elements:
8
[1, 4, 3, 8]
Enter elements:
4
[1, 4, 3, 8, 4]
Enter elements:
6
[1, 4, 3, 8, 4, 6]
Enter elements:
7
[1, 4, 3, 8, 4, 6, 7]
Sum of all elements in the given list:  33